<app-navbar></app-navbar>
<div class="container-fluid containerbgs">
  <div class="row">
    <div class="col s12 m6 l6 center-align">
      <main>
          <div class="hero">
            <h1>{{username}}</h1>
            <a>{{jersey}}</a>
             <div>
            <img src="../../assets/img/jersey.png" width="250"/>
          </div>
             <div class="bar"></div>
          </div>
         
        </main>

      
      <p class="center-align white-text finalscore">{{result}} %</p>

      <p style="    font-size: 20px;
      color: darkblue;
      text-transform: capitalize;">{{showmessage}}</p>
      <p style="font-size: 30px;
      text-transform: uppercase;
      color: darkblue;">{{showmessage2}}</p>

      <a href="https://twitter.com/share?url=http://trivia.becomealegend90.com&amp;hashtags=worldcup&amp;text={{messager}}" target="_blank">
        <img style="width: 7%;" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>

    <a href="http://www.facebook.com/sharer.php?u=http://trivia.becomealegend90.com" target="_blank">
      <img style="width: 7%;" src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
  </a>

    </div>
    <div  class="col s12 m6 l6">
        <table class="striped">   
            <thead>
              <tr>
                  <th style="text-align: center">Rank</th>
                  <th style="text-align: center">Name</th>
                  <th style="text-align: center">Scores (%)</th>
              </tr>
            </thead>
    
            <tbody >
              <tr *ngFor="let data of leaders">
                <td style="text-align: center"  class="counterCell"></td>
                <td style="text-align: center">{{data.username}}</td>
                <td style="text-align: center">{{data.score}}</td>
              </tr>
            
            </tbody>
          </table>    
    </div>
  </div>
</div>

